@model HomeViewModel
@{
    ViewData["Title"] = ViewBag.Baslik ?? "Posts";
}

<h3 class="pb-4 mb-4 fst-italic border-bottom">
    @ViewData["Title"]
</h3>



@foreach (var post in Model.Posts)
{
    <article class="blog-post">
        <h2 class="blog-post-title mb-1">@post.Title</h2>
        <p class="blog-post-meta">
            <a href="#">Admin</a>
            @post.CreationDate.ToShortDateString()
        </p>

        @Html.Raw(post.Content)

    </article>
}
<nav class="blog-pagination" aria-label="Pagination">
    @if (Model.OldSkirts)
    {
        <a class="btn btn-outline-primary rounded-pill" asp-route-page="@(Model.Page+1)" asp-route-categoryId="@Model.CategoryId">Older</a>
    }
    else
    {
        <a class="btn btn-outline-primary rounded-pill disabled">Older</a>
    } @if (Model.NewComer)
    {
        <a class="btn btn-outline-primary rounded-pill" asp-route-page="@(Model.Page-1)" asp-route-categoryId="@Model.CategoryId">Newer</a>
    }
    else
    {
        <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
    }
    
</nav>