@model List<Post>
@{ ViewData["Title"] = "Posts";
}

<table class="table" id="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Content</th>
            <th>Creation Date</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@(item.Content.Length>40 ? item.Content.Remove(40) + "..." :item.Content)</td>
                <td>@item.CreationDate</td>
                <td>@item.Category.Name</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $("#table").DataTable({
            language: {
                url: "https://cdn.datatables.net/plug-ins/1.13.1/i18n/tr.json"
            }
        });
    </script>
}